<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="description" content="The personal blog and portfolio of Michael Elliott.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>elliotec<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
    rel='stylesheet' type='text/css'>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "reset", "rouge", "all" %>

    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    
    <div id="wrapper">
      <%= partial "partials/header" %>
      <%= yield %>
    </div>

  </body>
</html>
