<header class="navigation">
  <div class="menu-wrapper">
    <%= link_to "{ elliotec }", "/index.html", class: 'logo' %>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "About", "#abouttop"%></li>
        <li class="nav-link"><%= link_to "Projects", "#projectstop"%></li>
        <li class="nav-link"><%= link_to "Posts", "#poststop"%></li>
        <li class="nav-link more"><%= link_to "Contact", "javascript:void(0);" %>
          <ul class="submenu">
          <li><%= link_to "Email", "#contacttop" %></li>
            <li><%= link_to "Github", "http://github.com/elliotec" %></li>
            <li><%= link_to "Linkedin", "http://linkedin.com/in/elliotec" %></li>
            <li><%= link_to "Twitter", "http://twitter.com/elliotecweb" %></li>
          </ul>
        </li>
      </ul>
    </div> 
  </div>
</header>